[submodule "apps/api"]
	path = apps/api
	url = https://github.com/MehradAotp/gallery
[submodule "apps/listener"]
	path = apps/listener
	url = https://github.com/MehradAotp/listener
[submodule "apps/gallery"]
	path = apps/gallery
	url = https://github.com/MehradAotp/gallery
	branch = dev
